body {
    margin: 0px;
}

section:first-child{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:silver;
    min-height:100vh;
}

pre{
    background-color:black;
    border:1px dashed gray;
    padding:5px;
    color:white;
    display:block;
    border-radius: 5px;
    font-family: 'Consolas', monospace;
}

.container{
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

.clip-text{
    border:1px solid black;
    font-size:10vw;
    font-family: sans-serif;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size:cover;
    background-image: url('img/forest.jpg');
    color: red;
  }

  #explainations{
      background-color:rgb(48, 48, 48);
      min-height:100vh;
      display:flex;
    align-items: center;
    justify-content: center;
  }