body {
    margin: 0px;
}

pre{
    background-color:black;
    border:1px dashed gray;
    padding:5px;
    color:white;
    display:block;
    border-radius: 5px;
    font-family: 'Consolas', monospace;
}

.container{
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

.error{
    color:red;
    font-weight: bold;
}

#firstCircle{
    transition:all 1.s ease-in !important;
}

#firstCircle:hover{
    fill:rgb(6, 6, 78) !important;
    transform:scale(0.5);
    transform-origin: center center;
    z-index:20;
}